

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.django-message {
    margin-top: 20px;
}

.form-error-message {
    color: red;
}

.checkbox-label {
    margin-left: 10px;
    cursor: pointer;
}

input[type=checkbox] {
    cursor: pointer;
}















