

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.django-message {
    margin-top: 20px;
}

.form-error-message {
    color: red;
}

.checkbox-label {
    margin-left: 10px;
    cursor: pointer;
}

input[type=checkbox] {
    cursor: pointer;
}

button a {
    color: white;
}

.upper-left-button {
    float: left;
}

.upper-right-button {
    float: right;
}

.strong-header {
    font-weight: bold;
}

.disabled-table-row {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
}
}














