<div style="background:#edefee;color:#333333;font-family:'Helvetica','Helvetica Neue','HelveticaNeue','Arial';font-size:100%;line-height:1.5;margin:0;padding:60px 0 30px" bgcolor="#edefee">
  <div>
    <div>
    </div>
    <div>
    </div>
  </div>

  <div style="font-size:14px;margin:0 10%">
    <div style="display:block;margin-bottom:68px">
      <a href="#" title="Hivelocity" style="color:#333333;text-decoration:underline" target="_blank">
      </a>
    </div>
    <div>
      <h1 style="color:#3366FF;font-family:'Helvetica','Helvetica Neue','HelveticaNeue','Arial',sans-serif;font-size:24px;margin:0 0 10px;max-width:450px;font-weight: normal;line-height:24px;">
          <!-- HEADLINE START -->{% block headline %}{{ headline }}{% endblock headline %}<!-- HEADLINE END -->
      </h1>
      <div style="color:#3366FF;font-family:'Helvetica','Helvetica Neue','HelveticaNeue','Arial',sans-serif;font-size:24px;margin:0 0 30px;max-width:450px;font-weight: normal;line-height:18px;">
          <!-- <img src="https://static.hivelocity.net/images/emails/dash_red.png" width="22" height="6" border="0"> -->
      </div>

      <div style="font-style:normal;font-weight:400;margin:20px 0 30px 0;max-width:450px">
          <!-- CONTENT START -->
          {% block content %}
          {% endblock content %}
          <!-- CONTENT END -->
      </div>
<!--
      <p style="font-style:normal;font-weight:400;margin:0;max-width:450px">
        Best Regards,
      </p>
      <p style="font-style:normal;font-weight:400;margin:0;max-width:450px">
          <img src="https://static.hivelocity.net/images/emails/dash_grey.png" width="14" height="6" border="0" valign="middle"> The Hivelocity Team
      </p>
    </div>
    <div style="margin-top:90px">
      <p style="font-style:normal;font-weight:400;margin:0;max-width:450px">
        Hivelocity, 8010 Woodland Center Blvd Suite 700, Tampa, FL 33614
      </p>
      <p style="font-size: 13px; font-style:normal;font-weight:400;margin:10px 0 0 0;max-width:450px">
          <a href="http://www.hivelocity.net" style="color:#333333;display:inline-block;text-decoration:underline" target="_blank">
            Hivelocity.net
        </a>
        </p>
    </div>
        -->
  </div>
</div>
