{% extends "templated_email/base.html" %}

{% block headline %}You're Invited!{% endblock headline %}

{% block content %}
<p>Hi {{ event_member.member.full_name }},<br>You have been invited to {{ event_member.event.title }}<br>
    on {{ event_member.event.event_date }} @ {{ event_member.event.location }}</p>
    <br>
	<p>Are you coming?</p>
    <table>
    	<tr>
    		<td class="padding">
                <p><a target="_blank" class="btn-primary" href="http://68.233.232.239:9000/{% url 'email-yes' event_member.unique_hash %}">Yes</a></p>
    		</td>
    		<td class="padding">
                <p><a target="_blank" class="btn-primary" href="http://68.233.232.239:9000/{% url 'email-no' event_member.unique_hash %}">No</a></p>
    		</td>
    	</tr>
    </table>
{% endblock content %}
