{% extends 'base.html' %}
{% load event_tags %}

{% block head %}
    <script type="application/javascript" src="/static/js/dashboard/app.js"></script>
    <script type="application/javascript" src="/static/js/dashboard/controller.js"></script>
    <script type="application/javascript" src="/static/js/dashboard/directive.js"></script>
{% endblock  %}

{% block body %}
<div ng-app="dashboardApp">
<div class="page-header" ng-controller="headerCtrl">
    <div class="container">
      <div class="row">
          <div class="col-md-9">
              <h1>{$ event_data['title'] $}</h1>
              <p>{$ event_data['event_date'] $} @ {$ event_data['location'] $}</p>
              <p style="font-size: 18px">{$ checkInvitesSent() $}</p>
          </div>
          <div class="col-md-3">
            <div class="stats">
                <center>
                  <span class="fa fa-4x fa-thumbs-up"></span><br>
                  <span class="badge">{$ event_data['attending'] $}</span>
                </center>
            </div>
            <div class="stats">
                <center>
                  <span class="fa fa-4x fa-thumbs-down"></span><br>
                  <span class="badge">{$ event_data['not_attending'] $}</span>
                </center>
            </div>
            <div class="stats">
                <center>
                  <span class="fa fa-4x fa-clock-o"></span><br>
                  <span class="badge">{$ event_data['invited'] - (event_data['attending'] + event_data['not_attending']) $}</span>
                </center>
            </div>
          </div>
      </div>
    </div>
</div>

    <div class="container filled" ng-controller="eventCtrl">
      <div class="row">
          <div class="col-md-4">
              <div class="holder">
                <div class="text-holder">
                  <h5>Events</h5>
                    <table class="table table-hover table-striped invited">
                      <tbody>
                      {% for event in events %}
                      <tr{% if forloop.counter == 1 %} ng-init="initEvent({{ event.pk|escapejs}})"{% endif %} ng-click="event_pk = {{ event.pk|escapejs }}"><td>{{ event.title }}<span ng-hide="{{ event.pk|escapejs }} != event_pk" class="fa fa-arrow-right"></span></tr></td>
                      {% endfor %}
                      </tbody>
                    </table>
                </div>
                <div class="bottom" >
                  <center>
                    <span class="fa fa-2x fa-plus-circle"></span>
                  </center>
                </div>
              </div>
          </div>
          <div class="col-md-8" ng-controller="guestListCtrl">
              <div class="holder">
                <div class="text-holder guest-list">
                  <h5>Guest List</h5>
                  <input type="text" class="form-control" name="search" value="" placeholder="Search">
                  <div class="row">
                      <div class="col-md-12">
                        <table class="table table-striped">
                          <thead>
                              <tr>
                                  <th>Status</th>
                                  <th>First Name</th>
                                  <th>Last Name</th>
                                  <th>Preference</th>
                                  <th>Tag</th>
                              </tr>
                          </thead>
                          <tbody>
                          {% for member in members %}
                          <tr>
                              <td>
                                  <span ng-show="checkStatus({{ member.pk|escapejs }}, true)" class="fa fa-thumbs-up"></span>
                                  <span ng-show="checkStatus({{ member.pk|escapejs }}, false)" class="fa fa-thumbs-down"></span>
                                  <span ng-show="checkStatus({{ member.pk|escapejs }}, null)" class="fa fa-clock-o"></span>
                              </td>
                              <td>{{ member.first_name }}</td>
                              <td>{{ member.last_name }}</td>
                              <td>{% if member.preference == "email" %}<span class="fa fa-envelope"></span>{% elif member.preference == "phone" %}<span style="font-size: 22px;" class="fa fa-mobile-phone"></span>{% else %}Both{% endif %}</td>
                              <td>{{ member.tags }}</td>
                          </tr>
                          {% endfor %}
                          </tbody>
                        </table>

                      </div>
                  </div>
                <div class="bottom" >
                  <center>
                    <span class="fa fa-2x fa-plus-circle"></span>
                  </center>
                </div>
              </div>
 
                </div>
              </div>
          </div>
      </div>
    </div>
</div>

      <hr>
{% endblock %}

{% block footer %}
        <p>&copy; Company 2014</p>
{% endblock %}
