{% extends 'base.html' %}
{% load event_tags %}

{% block head %}
{% endblock  %}

{% block body %}
<div class="page-header">
    <div class="container">
      <div class="row">
          <div class="col-md-9">
            <h1>Book Club</h1>
            <p>Wednesday Jan 2, 2015 @ Dale Mabry Library</p>
            <p>Invites will be sent on Thursday Nov 23, 2015</p>
          </div>
          <div class="col-md-3">
            <div class="stats">
                <center>
                  <span class="fa fa-4x fa-thumbs-up"></span><br>
                  <span class="badge">10</span>
                </center>
            </div>
            <div class="stats">
                <center>
                  <span class="fa fa-4x fa-thumbs-down"></span><br>
                  <span class="badge">8</span>
                </center>
            </div>
            <div class="stats">
                <center>
                  <span class="fa fa-4x fa-clock-o"></span><br>
                  <span class="badge">18</span>
                </center>
            </div>
          </div>
      </div>
    </div>
</div>

    <div class="container filled">
      <div class="row">
          <div class="col-md-4">
              <div class="holder">
                <div class="text-holder">
                  <h5>Events</h5>
                    <table class="table table-hover table-striped invited">
                      <tbody>
                      {% for event in events %}
                      <tr><td>{{ event.title }}<span class="fa fa-arrow-right"></span></tr></td>
                      {% endfor %}
                      </tbody>
                    </table>
                </div>
                <div class="bottom" >
                  <center>
                    <span class="fa fa-2x fa-plus-circle"></span>
                  </center>
                </div>
              </div>
          </div>
          <div class="col-md-8">
              <div class="holder">
                <div class="text-holder guest-list">
                  <h5>Guest List</h5>
                  <input type="text" class="form-control" name="search" value="" placeholder="Search">
                  <div class="row">
                      <div class="col-md-12">
                        <table class="table table-striped">
                          <thead>
                              <tr>
                                  <th>Status</th>
                                  <th>First Name</th>
                                  <th>Last Name</th>
                                  <th>Preference</th>
                                  <th>Tags</th>
                              </tr>
                          </thead>
                          <tbody>
                          <tr>
                              <td><span class="fa fa-thumbs-up"></td>
                              <td>Bobby</td>
                              <td>Taylors</td>
                              <td><span class="fa fa-envelope"></span></td>
                              <td>Friends, Family</td>
                          </tr>
                          <tr>
                              <td><span class="fa fa-clock-o"></td>
                              <td>Bobby</td>
                              <td>Taylors</td>
                              <td><span class="fa fa-phone"></span></td>
                              <td>Friends, Family</td>
                          </tr>
                           <tr>
                              <td><span class="fa fa-thumbs-down"></td>
                              <td>Bobby</td>
                              <td>Taylors</td>
                              <td>Both</td>
                              <td>Friends, Family</td>
                          </tr>
                           <tr>
                              <td></td>
                              <td>Bobby</td>
                              <td>Taylors</td>
                              <td>Both</td>
                              <td>Friends, Family</td>
                          </tr>
 
                          </tbody>
                        </table>

                      </div>
                  </div>
                <div class="bottom" >
                  <center>
                    <span class="fa fa-2x fa-plus-circle"></span>
                  </center>
                </div>
              </div>
 
                </div>
              </div>
          </div>
      </div>
    </div>

      <hr>
{% endblock %}

{% block footer %}
        <p>&copy; Company 2014</p>
{% endblock %}
