{% extends 'base.html' %}
{% load event_tags %}

{% block head %}
{% endblock  %}

{% block body %}
   <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Events</h2>
            <p><a href="{% url 'event-edit' 0 %}"><button class="btn btn-success">Create New Event</button></a></p>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Occurance</th>
                        <th>Event Date</th>
                        <th>Invite Send Date</th>
                        <th>Invited</th>
                        <th>Attending</th>
                        <th>Not Attending</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr {% if event.disabled %}class="disabled-table-row"{% endif %}>
                            <td>{{ event.title }}</td>
                            <td>{{ event.occurance }}</td>
                            <td>{{ event.event_date }}</td>
                            <td>{% if not event.invited %}{{ event.invite_date }}{% else %}Invites Sent{% endif %}</td>
                            <td><center>{{ event.invited }}</center></td>
                            <td><center>{{ event.attending }}</center></td>
                            <td><center>{{ event.not_attending }}</center></td>
                            <td><a href="{% url 'event-add' event.pk %}"><button class="btn btn-success">Add Members</button></a></td>
                            <td>
                                
                                <div class="btn-group edit-btn-group">
                                    <button type="button" class="btn btn-primary edit-event" onclick="goTo('{% url 'event-edit' event.pk %}')" >Edit</button>
                                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                      <li><a href="{% url 'event-attendance' event.pk %}">View Attendance</a></li>
                                      <li><a href="{% url 'event-disable' event.pk %}">{% if event.disabled %}Enable{% else %}Disable{% endif %}</a></li>
                                      <li><a href="{% url 'event-send-invites' event.pk %}">Manually send invites</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'event-delete' event.pk %}">Delete</a></li>
                                  </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>

      <hr>
{% endblock %}

{% block footer %}
        <p>&copy; Company 2014</p>
{% endblock %}
