{% extends 'base.html' %}

{% block head %}
{% endblock  %}

{% block body %}
   <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <h2>Members</h2>
            <p><a class="upper-left-button" href="{% url 'member-edit' 0 %}">
                <button class="btn btn-success">Create New Member</button>
            </a></p>
            {% if members %}
            <p><a class="upper-right-button" href="{% url 'download-backup' %}">
                <button class="btn btn-primary">Download Backup</button>
            </a></p>
            {% endif %}
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Preference</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                        <tr>
                            <td>{{ member.full_name }}</td>
                            <td>{{ member.email }}</td>
                            <td>{{ member.phone }}</td>
                            <td>{{ member.preference }}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary edit-event" onclick="goTo('{% url 'member-edit' member.pk %}')" >Edit</button>
                                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url 'member-delete' member.pk %}">Delete</a></li>
                                  </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>

      <hr>
{% endblock %}

{% block footer %}
        <p>&copy; Company 2014</p>
{% endblock %}
